/**
 * @name Cozy202K
 * @author SlippingGitty, Pavol, NYRI4, Tamago-iku
 * @version 20210129.01
 * @description A Discord Theme based on LeoRicharte's concept art
 * @source https://github.com/SlippingGitty/Comfy202k
 * @website https://slippinggitty.github.io/
*/

/*
 ██████╗ ██████╗ ███████╗██╗   ██╗██████╗  ██████╗ ██████╗ ██╗  ██╗
██╔════╝██╔═══██╗╚══███╔╝╚██╗ ██╔╝╚════██╗██╔═████╗╚════██╗██║ ██╔╝
██║     ██║   ██║  ███╔╝  ╚████╔╝  █████╔╝██║██╔██║ █████╔╝█████╔╝ 
██║     ██║   ██║ ███╔╝    ╚██╔╝  ██╔═══╝ ████╔╝██║██╔═══╝ ██╔═██╗ 
╚██████╗╚██████╔╝███████╗   ██║   ███████╗╚██████╔╝███████╗██║  ██╗
 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝   ╚══════╝ ╚═════╝ ╚══════╝╚═╝  ╚═╝
*/

/* 
////////////////
///IMPORT CSS
///////////////
*/
@import url("https://slippinggitty.github.io/COMFY202K.css");


/* 
/////////////////////////////////////////
//ADD YOUR OWN ADDITIONS BELLOW THIS LINE
/////////////////////////////////////////
*/
