@-moz-document domain("discord.com") {
    /* ==UserStyle==
    @name         Cozy202K
    @description  A Discord Theme based on LeoRicharte's concept art
    @author       Vozer
    @namespace    https://github.com/SlippingGitty/Cozy202K/
    @version      1.0.0
    ==/UserStyle== */

/* 
////////////////
///IMPORT CSS
///////////////
*/

@import url("https://slippinggittys-discord-Themes.github.io/Cozy202K/src/source.css");


/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///LUCKFIRE - LOREMLY - BUBBLE BAR - ROUNDED CHAT BAR - https://github.com/discord-extensions/bubble-bar/blob/master/LICENSE
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

:root {
    /* || Main */
    --channeltextarea-rounding: 25px;
    --channeltextarea-background: var(--background-secondary-alt);
    --channeltextarea-border: var(--background-secondary);

    /* || Default Buttons */
    --channeltextarea-button-rounding: 50%;
    --channeltextarea-button-icon: #6BDBC6;
    --channeltextarea-button-background: #423F72;
    --channeltextarea-button-hover: #1b183e;

    /* || Accents */
    --channeltextarea-caret: var(--brand-experiment-400);
    --channeltextarea-sendbutton-icon: var(--brand-experiment-130);
    --channeltextarea-sendbutton-background: var(--brand-experiment);
    --channeltextarea-sendbutton-hover: var(--brand-experiment-460);
    --channeltextarea-sendbutton-active: var(--brand-experiment-530);
}

/* Bubble Bar Recolor */
.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .textArea-2CLwUE {
    background-color: #423f71;
}

}
