/* Licence https://github.com/SlippingGitty/Comfy-Discord-202k-Theme/blob/main/LICENSE */

/*
////////////////////////////////////////
///Comfy Discord - WITH COLOR CHANGES
////////////////////////////////////////
*/

.theme-dark {
    --background-tertiary: #1C1B29;
    --background-secondary: #292841;
    --background-secondary-alt: #191f2e;
    --background-primary: #312F51;
    --channeltextarea-background: #191f2e;
    --background-accent: #6E85D3;
    --background-modifier-hover: #1c2030;
    --background-modifier-active: #1a1e2e;
    --background-modifier-selected: #191f2e;
    --deprecated-card-bg: #12141f63;
    --background-floating: #1C1B29;
    --deprecated-quickswitcher-input-background:#101320;
    --elevation-low: none;
    --toast-background: #292841 !important;
    --toast-header: #101320 !important;
    --toast-contents: #23283d !important;
}

.theme-light {
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --header-primary: #fff;
    --header-secondary: #b1b5b9;
    --text-normal: #8e9297;
}

/*
////////////////////////
///Tamago-iku 's 202k
///////////////////////
*/

.channelTextArea__2e60f {
    margin-bottom: 24px;
    background-color: var(--background-primary);
}

.channelTextArea__56a36 {
    position: relative;
    width: 100%;
    text-indent: 0;
    border-radius: 50px;
}

.sansAttachButton__996a4 {
    padding-left: 16px;
}

.inner__9fd0b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.textAreaSlate_e0e383 {
    padding: 0;
}

.textArea__74543 {
    background-color: transparent;
    resize: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    height: 44px;
    min-height: 44px;
    color: var(--text-normal);
    padding-left: 0;
    padding-right: 10px;
}

.buttons_ce5b56 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 44px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-right: 4px;
}

.membersGroup__85843 {
    padding: 20px 8px 0 16px;
    height: 50px;
}

.container-36u7Lw {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #BDBAEB;
}

.name__16feb {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    color: #fff;
}

.activity__3cbac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    font-weight: 500;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///LUCKFIRE - DARK THEME WARNING - NOTIFICATION - https://github.com/discord-theme-tools/theme-warnings/blob/main/LICENSE
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.theme-light #app-mount::after {
    z-index: 1005;
    content: "For this theme to work properly, you have to enable Dark Mode. \a\aTo enable it, head over to Settings -> Appearance.";
    white-space: pre-wrap;
    position: absolute;
    right: 5px;
    bottom: 5px;
    max-width: 210px;
    padding: 15px 0 15px 80px;
    border-radius: 5px;
    border-left: 4px solid #ed4245;
    font-weight: 500;
    color: var(--text-normal);
    background: var(--background-tertiary);
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZWQ0MjQ1IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNNC40NyAyMWgxNS4wNmMxLjU0IDAgMi41LTEuNjcgMS43My0zTDEzLjczIDQuOTljLS43Ny0xLjMzLTIuNjktMS4zMy0zLjQ2IDBMMi43NCAxOGMtLjc3IDEuMzMuMTkgMyAxLjczIDN6TTEyIDE0Yy0uNTUgMC0xLS40NS0xLTF2LTJjMC0uNTUuNDUtMSAxLTFzMSAuNDUgMSAxdjJjMCAuNTUtLjQ1IDEtMSAxem0xIDRoLTJ2LTJoMnYyeiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: 12px center;
}

/*
//////////////////////
///ADDITIONS
/////////////////////
*/

/* Font */
* {
    text-transform: none;
}

/* Search */
.search-1FM8Qc .searchBar-zdmu7v {
  width: 80px;
  transition-duration:600ms;
}
.searchBar-zdmu7v:hover {
  width: 250px important;
}
.search-1FM8Qc.open-3y3yI_ .searchBar-zdmu7v {
  width: 250px!important;
}

/* Channel name */
.name__8d1ec {
  	font-weight: bold;
    color: #999B9F;
}
div.contents-18-Yxp {
  color: #BDBAEB;
}

/* Selected Channel */
.modeSelected__487d6 .wrapper__7bcde {
	background-color: #423F71;
  border-radius: 50px;
}
/* Hovered channel */
.wrapper__7bcde:hover {
    background-color: transparent;
    border-radius: 50px;
}

/* SVG icons */
.clickable_d23a1a .icon__4cb88 {
    color: white;
}
svg.icon_f50f05 {
  color: #BDBAEB;
}
svg.addButtonIcon_b776b3 {
    color: #BDBAEB;
}

/* Channel names */
.emptyChannelIcon__1a1ba {
	background-color: #1C1B29;
  color: #8D8BAE;
}
.header__4080b {
    font-size: 50px;
    font-weight: 700;
}
.headerText__051c0, .container-q97qHp {
    color: #aaa4ea;
}

/* Channel Desc */
.description__57d03 {
    color: #fff;
    font-weight: 100;
    font-size: 20px;
}
div.contents-18-Yxp {
    color: #6ADBC6;
    font-weight: 100;
}
.buttonIcon__9d124 {
    color: #0000;
}

/* Scrollbar */
.theme-dark {
--scrollbar-auto-thumb: #1C1B29;
--scrollbar-auto-track: #292841;
}

/* Server icon buttons */
.circleIconButton-jET_ig {
		color: #6ADBC6;
    background-color: var(--background-primary);
}

/* Channel Bar */
.container__11d72.themed_b152d4 {
	box-shadow: 1px 1px 1px #2B2946;
}

/* Friends list */
.peopleList__2379e {
	background-color: #312F51;
}
.peopleColumn__51df3 {
    background-color: #312F51;
}

/* Active now */
.nowPlayingColumn_f5023f {
    background-color: #292841;
}
.section_efc22d {
	background-color: #292841;
}

/* Removes that stupid rounded border on the server name */
.platform-win .sidebar_ded4b5 {
    border-radius: 0px 0px 0px;
}

/* Extend member sidebar into its own area - Pavol */
.toolbar__88c63 {
  position:relative;
  right:245px;
}
.membersWrap__90226{
  position:relative;
  bottom:48px;
  z-index: 1;
  height:1400px;
}
.container__11d72.themed_b152d4 {
  z-index:1;
}

/* Make channel topic smaller */
.topic__16ae3.expandable_ddf73d {
    margin-right: 400px;
}
.divider_c09b64 {
  	display: none;
}
.nicknames__7447d, .spacer__57b6a {
    margin-right: 280px;
}



/* User flyout */

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #423F71;
}

.headerTop-3C2Zn0 {
	background-color: #312F51;
}

/* Media upload flyout */

.uploadModal_eae2a0 .inner__7afe9, .theme-dark .uploadModal_eae2a0  {
	background-color: #312F51;
}

.uploadModal_eae2a0 .footer_ceda43.hasSpoilers__49ee6 {
    background-color: #423F71;
}

/* Select Friends Flyout*/
.header-1zd7se, .footer__274e8, .noResults_c69767, .scroller__5c5df  {
	background-color: #312F51;
}

/* Buttons */
.lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorGrey-2DXtkV  {
    background-color: #423F71;
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: #690000;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: #690000;
}
.lookFilled-1Gx00P.colorYellow-2JqYwt {
    background-color: #825100;
}
.container-2nx-BQ  {
    background-color: #423F71 !important;
}

/* Set a custom status menu */
.theme-dark .footer-31IekZ, .content-2hZxGK  {
	background-color: #312F51;
}

/* Auto complete */
.base__76a71, .autocompleteInner_a0e6a1 {
	background-color: #312F51;
}
.base__76a71:hover {
	background-color: #292841;
}
div.base__76a71.selectable-1MM9tu.selected-3H3-RC {
  	background-color: #292841;
}
.categoryHeader_f97a5f {
	background-color: #312F51;
}
.list-obNEuP {
  	background-color: #292841;
}

/* Bubble Bar Recolor */
.base__3e6af .channelTextArea__56a36 .inner__9fd0b .textArea__74543, .base__3e6af .channelTextArea__56a36 .inner__9fd0b .button_afdfd9 {
    background-color: #423f71;
}
.attachButtonPlus_bf89ca {
    fill: #6adbc6 !important;
}
.InvisibleTyping-typingButton-invisibleTypingButton svg,  .buttonWrapper__69593 {
    color: #bdbaeb !important;
}

/* Powercord Theme Toggler and Plugins Products */
.powercord-product {
  padding: 9px;
  margin-bottom: 13px;
}
.powercord-product-header h4 {
  font-size: 16px;
}
.powercord-product .divider__09722 {
  display: none;
}
.description, .powercord-product .metadata, .powercord-product-permissions, .powercord-product-footer {
  margin-top: 4px;
  font-size: 13px;
}

/* Extra stuff for BetterDiscord-Compat */
.bdc-plugin .metadata > div {
  margin-top: 4px;
  width: 20% !important;
}
