/* Licence https://github.com/SlippingGitty/Comfy-Discord-202k-Theme/blob/main/LICENSE */

/*
////////////////////////////////////////
///Comfy Discord - WITH COLOR CHANGES
////////////////////////////////////////
*/

.theme-dark {
    --background-tertiary: #1C1B29;
    --background-secondary: #292841;
    --background-secondary-alt: #191f2e;
    --background-primary: #312F51;
    --channeltextarea-background: #191f2e;
    --background-accent: #6E85D3;
    --background-modifier-hover: #1c2030;
    --background-modifier-active: #1a1e2e;
    --background-modifier-selected: #191f2e;
    --deprecated-card-bg: #12141f63;
    --background-floating: #1C1B29;
    --deprecated-quickswitcher-input-background:#101320;
    --elevation-low: none;
    --toast-background: #292841 !important;
    --toast-header: #101320 !important;
    --toast-contents: #23283d !important;
}

.theme-light {
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --header-primary: #fff;
    --header-secondary: #b1b5b9;
    --text-normal: #8e9297;
}

/*
////////////////////////
///Tamago-iku 's 202k
///////////////////////
*/

.channelTextArea-1FufC0 {
    margin-bottom: 24px;
    background-color: var(--background-primary);
}

.channelTextArea-1VQBuV {
    position: relative;
    width: 100%;
    text-indent: 0;
    border-radius: 50px;
}

.sansAttachButton-1ERHue {
    padding-left: 16px;
}

.inner-NQg18Y {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.textAreaSlate-9-y-k2 {
    padding: 0;
}

.textArea-2CLwUE {
    background-color: transparent;
    resize: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    height: 44px;
    min-height: 44px;
    color: var(--text-normal);
    padding-left: 0;
    padding-right: 10px;
}

.buttons-uaqb-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 44px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-right: 4px;
}

.membersGroup-2eiWxl {
    padding: 20px 8px 0 16px;
    height: 50px;
}

.container-36u7Lw {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #BDBAEB;
}

.name-3Vmqxm {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    color: #fff;
}

.activity-2EQDZv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    font-weight: 500;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///LUCKFIRE - DARK THEME WARNING - NOTIFICATION - https://github.com/discord-theme-tools/theme-warnings/blob/main/LICENSE
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.theme-light #app-mount::after {
    z-index: 1005;
    content: "For this theme to work properly, you have to enable Dark Mode. \a\aTo enable it, head over to Settings -> Appearance.";
    white-space: pre-wrap;
    position: absolute;
    right: 5px;
    bottom: 5px;
    max-width: 210px;
    padding: 15px 0 15px 80px;
    border-radius: 5px;
    border-left: 4px solid #ed4245;
    font-weight: 500;
    color: var(--text-normal);
    background: var(--background-tertiary);
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZWQ0MjQ1IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNNC40NyAyMWgxNS4wNmMxLjU0IDAgMi41LTEuNjcgMS43My0zTDEzLjczIDQuOTljLS43Ny0xLjMzLTIuNjktMS4zMy0zLjQ2IDBMMi43NCAxOGMtLjc3IDEuMzMuMTkgMyAxLjczIDN6TTEyIDE0Yy0uNTUgMC0xLS40NS0xLTF2LTJjMC0uNTUuNDUtMSAxLTFzMSAuNDUgMSAxdjJjMCAuNTUtLjQ1IDEtMSAxem0xIDRoLTJ2LTJoMnYyeiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: 12px center;
}

/*
//////////////////////
///ADDITIONS
/////////////////////
*/

/* Font */
* {
    text-transform: none;
}

/* Search */
.search-1FM8Qc .searchBar-zdmu7v {
  width: 80px;
  transition-duration:600ms;
}
.searchBar-zdmu7v:hover {
  width: 250px important;
}
.search-1FM8Qc.open-3y3yI_ .searchBar-zdmu7v {
  width: 250px!important;
}

/* Channel name */
.name-28HaxV {
  	font-weight: bold;
    color: #999B9F;
}
div.contents-18-Yxp {
  color: #BDBAEB;
}

/* Selected Channel */
.modeSelected-3DmyhH .content-1gYQeQ {
	background-color: #423F71;
  border-radius: 50px;
}
/* Hovered channel */
.content-1gYQeQ:hover {
    background-color: transparent;
    border-radius: 50px;
}

/* SVG icons */
.clickable-ZD7xvu .icon-2xnN2Y {
    color: white;
}
svg.icon-18rqoe {
  color: #BDBAEB;
}
svg.addButtonIcon-3rJeaD {
    color: #BDBAEB;
}

/* Channel names */
.emptyChannelIcon-1YdEz2 {
	background-color: #1C1B29;
  color: #8D8BAE;
}
.header-1dhDWV {
    font-size: 50px;
    font-weight: 700;
}

/* Channel Desc */
.description-22d6ux {
    color: #fff;
    font-weight: 100;
    font-size: 20px;
}
div.contents-18-Yxp {
    color: #6ADBC6;
    font-weight: 100;
}
.buttonIcon-1TxM6f {
    color: #0000;
}

/* Scrollbar */
.theme-dark {
--scrollbar-auto-thumb: #1C1B29;
--scrollbar-auto-track: #292841;
}

/* Server icon buttons */
.circleIconButton-jET_ig {
		color: #6ADBC6;
    background-color: var(--background-primary);
}

/* Channel Bar */
.container-ZMc96U.themed-Hp1KC_ {
	box-shadow: 1px 1px 1px #2B2946;
}

/* Friends list */
.peopleList-2VBrVI {
	background-color: #312F51;
}
.peopleColumn-1wMU14 {
    background-color: #312F51;
}

/* Active now */
.nowPlayingColumn-1eCBCN {
    background-color: #292841;
}
.section-3G9aLW {
	background-color: #292841;
}

/* Removes that stupid rounded border on the server name */
.platform-win .sidebar-1tnWFu {
    border-radius: 0px 0px 0px;
}

/* Extend member sidebar into its own area - Pavol */
.toolbar-3_r2xA {
  position:relative;
  right:245px;
}
.membersWrap-3NUR2t{
  position:relative;
  bottom:48px;
  z-index: 1;
  height:1400px;
}
.container-ZMc96U.themed-Hp1KC_ {
  z-index:1;
}

/* Make channel topic smaller */
.topic-11NuQZ.expandable-3CaLeS {
    margin-right: 400px;
}
.divider-q3P9HC {
  	display: none;
}
.nicknames-10Sg6e, .spacer-1F8G1H {
    margin-right: 280px;
}



/* User flyout */

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #423F71;
}

.headerTop-3C2Zn0 {
	background-color: #312F51;
}

/* Media upload flyout */

.uploadModal-2ie9O_ .inner-rBP-MS, .theme-dark .uploadModal-2ie9O_  {
	background-color: #312F51;
}

.uploadModal-2ie9O_ .footer-VCsJQY.hasSpoilers-33hwf_ {
    background-color: #423F71;
}

/* Select Friends Flyout*/
.header-1zd7se, .footer-C9oLp9, .noResults-1ceiMB, .scroller-1Kbkqa  {
	background-color: #312F51;
}

/* Buttons */
.lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorGrey-2DXtkV  {
    background-color: #423F71;
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: #690000;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: #690000;
}
.lookFilled-1Gx00P.colorYellow-2JqYwt {
    background-color: #825100;
}
.container-2nx-BQ  {
    background-color: #423F71 !important;
}

/* Set a custom status menu */
.theme-dark .footer-31IekZ, .content-2hZxGK  {
	background-color: #312F51;
}

/* Auto complete */
.base-2v-uc0, .autocompleteInner-y1mjDl {
	background-color: #312F51;
}
.base-2v-uc0:hover {
	background-color: #292841;
}
div.base-2v-uc0.selectable-1MM9tu.selected-3H3-RC {
  	background-color: #292841;
}
.categoryHeader-OpJ1Ly {
	background-color: #312F51;
}
.list-obNEuP {
  	background-color: #292841;
}

/* Bubble Bar Recolor */
.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .textArea-2CLwUE, .base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .button-f2h6uQ {
    background-color: #423f71;
}
.attachButtonPlus-3IYelE {
    fill: #6adbc6 !important;
}
.InvisibleTyping-typingButton-invisibleTypingButton svg,  .buttonWrapper-3YFQGJ {
    color: #bdbaeb !important;
}

/* Powercord Theme Toggler and Plugins Products */
.powercord-product {
  padding: 9px;
  margin-bottom: 13px;
}
.powercord-product-header h4 {
  font-size: 16px;
}
.powercord-product .divider-3LgWDL {
  display: none;
}
.description, .powercord-product .metadata, .powercord-product-permissions, .powercord-product-footer {
  margin-top: 4px;
  font-size: 13px;
}

/* Extra stuff for BetterDiscord-Compat */
.bdc-plugin .metadata > div {
  margin-top: 4px;
  width: 20% !important;
}
